body {
    background-image: url("imagenfondo/nice.jpg");
}

h1 {
    font-size: 70px;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding: 3px;
    text-shadow: 10px 5px #290707;
}

.texto-borde {
    -webkit-text-stroke: 3px black;
    color: rgba(11, 185, 253, 0.932);
}

body {
    background-image: url("imagenfondo/nice.jpg");
}

h1 {
    font-size: 70px;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding: 3px;
}

.texto-borde {
    -webkit-text-stroke: 3px black;
    color: rgba(11, 185, 253, 0.932);
}

.calculadora {
    height: 500px;
    border: 2px groove #0a0101;
    border-radius: 6px;
    text-align: center;
    background: #3a0202;
    margin: 0 auto;
    padding: 10px;
}

.calculadora td {
    margin: 2px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    text-align: center;
    padding: 10px;
    background-color: #b7bbbbea;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    text-align: center;
    padding: 3px;
    background-color: #242323ea;
}

button {
    height: 60px;
    width: 60px;
    border-radius: 20px;
    font-size: 30px;
    box-shadow: 3px 3px black;
    cursor: pointer;
    background-color: #acb7b9;
}

button:hover {
    background-color: #0695af;
    color: rgb(20, 20, 20);
    box-shadow: 2px 2px 10px #a77176;
    box-shadow: 2px 2px black;
    cursor: pointer;
    background-color: #acb7b9;
}

button:hover {
    background-color: #0a757c;
    color: rgb(20, 20, 20);
}

#resultado {
    /*border: 2px solid rgb(7, 6, 6); */
    padding: 2px;
    width: 90%;
    border-radius: 2px;
}

#igual {
    font-weight: bolder;
}

.calculadora td #igual {
    width: 150px;
}